In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello world \nHello PIAIC")

Hello world
Hello PIAIC

In [3]:
no_of_sides = 3

In [4]:
b = 2
b ** 5

32

a=int(input("Enter a:"))
b=int(input("Enter B:"))
c=int(input("Enter C:"))
d=b**2-4*a*c
if d<0:
    print("Solution doesn't exist")
else:
    x1=(-b+d**0.5)/(2*a)
    x2=(-b+d**0.5)/(2*a)
    print("x1=",x1,"x2=",x2)

In [5]:
a=int(input("Enter a:"))
b=int(input("Enter B:"))
c=int(input("Enter c:"))
d=b**2-4*a*c
if d<0:
    print("solution does't exist")
else:
    x1=(-b+d**0.5)/(2*a)
    x1=(-b-d**0.5)/(2*a)
    print("x1=",x1,"x2=",x2)

Enter a:1
Enter B:3
Enter c:33
solution does't exist

In [6]:
age = 22
age +=7
print(age)

29

In [7]:
2**5

32

In [8]:
x = 1
y = 2
z = x = y = 3
print(x,y,z)

3 3 3

In [9]:
y

3

In [10]:
x = "Hello"
x += " World"
print(x)

Hello World

In [11]:
x = ("The sum of 2 plus 2 is ") + Str(4))

SyntaxError: invalid syntax (<ipython-input-11-b414db918815>, line 1)

In [ ]:
x

In [ ]:
x = int(input("kindly enter any number "))
if x%2 == 0:
    print("the no is even")
else:
    print("the no is odd")

In [ ]:
kindy enter any number
5

In [ ]:
x = int(input("kindly entet a No "))
if x > 0 :
    print("the no is positive")
elif x == 0:
    print("the no is zero")
else:
    print("the no is negative")

6

In [ ]:
x = 0
if x == 0:
    print("true")

In [ ]:
if 13:
    print("hello")

In [ ]:
bool(13)

bool(0)

In [ ]:
bool(14)

In [ ]:
bool("hello")

In [ ]:
bool()

In [ ]:
bool("false")

In [ ]:
a = float(input("enter any No "))
b = float(input("enter any no "))
c = float(input("enter any No "))
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else:
    print("c is greater")

In [ ]:
c

In [ ]:
a = int(input("enter any no"))
b = int(input("enter any no"))
c = int(input("enter any no"))
if a>b:
    if a>c:
        print("A is greater")
elif b>c:
    if b>a:
        print ("B is greater")
else:
    print("C is greator")

In [ ]:
""""""
This is going to be my
first progrme
""""""

In [ ]:
cities = ("Karachi", "Lahore", "Peshawar", "Islamabad", "Culcatta")

In [ ]:
cities[0]

In [ ]:
cities[1]

In [ ]:
cities[-5]

In [ ]:
cities.append["Islamabad"]

### cities.insert(2,"Hyderabad")

In [ ]:
remove[3]

In [ ]:
country = []

In [ ]:
cities += ['Bombay']

In [ ]:
cities

In [ ]:
del Lahore

In [ ]:
cities.remove('Lahore')

In [ ]:
cities

In [ ]:
x = cities[2]
del x

In [ ]:
cities

In [ ]:
cities[::2]

In [ ]:
cities[::3]

In [ ]:
cities

In [ ]:
cities[2:3]

In [ ]:
cities[:]

In [ ]:
cities

In [ ]:
x = cities

In [ ]:
x[0] = 'Sydeney'

In [ ]:
a = int(input("kindly enter any no to print its table"))
for i in range(1,11):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

In [ ]:
list(range(1,11))

In [ ]:
a = int(input("kindly enter any no to print its table"))
for i in range(1,11):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

In [ ]:
a = int(input("kindly enter any no to print its table"))
for i in range(10,0,-1):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

In [ ]:
name = 'Usman'
for a in name:
    print(a)

In [ ]:
user_input = input("Enter a number")

In [ ]:
user_input = float(input("Enter a number")

In [ ]:
list = ['pen', 'telephone', 'cell phone', 'ball', 'elephanet']
list.reverse()
print(list)

In [ ]:
list = ['pen', 'telephone', 'cell phone', 'ball', 'elephane')
list.tittle()
print(list)

In [1]:
name=input("any word type\n ")
vowel=[]
for v in name.lower():
    if v=='a' or v=='e' or v=='i' or v=='o' or v=='u':
        vowel.append(v)
print(vowel)
print(len(vowel))

any word type
 Usman Saeed
['u', 'a', 'a', 'e', 'e']
5

In [ ]:
name="Usman"
vowel=[]
for v in name.lower():
    if v=='a' or v=='e' or v=='i' or v=='o' or v=='u':
        vowel.append(v)
print(vowel)
print(len(vowel))

In [ ]:
x = ['pen', 'telephone', 'cell phone', 'ball', 'elephane']
type (x)

In [ ]:
x = ('red', 'green', 'blue', 'yellow')
x

In [ ]:
x[0]

In [ ]:
first=['Usman','Saeed']
last=['Rasheed', 'Tahir']
ful_name=[]
for x in first:
    for y in last:
        ful_name.append(x + ' ' +y)
        print(ful_name)

In [ ]:
ful_name

In [ ]:
first=['Usman','Saeed']
last=['Rasheed', 'Tahir']
ful_name=[]
for x in first:
    for y in last:
        ful_name.append(x+' ' +y)
        print(ful_name)

In [ ]:
x=input('enter any thing:  ')
y=x.title()
y

In [ ]:
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1

In [ ]:
for i in range(0, 7):
    for j in range(0,7):
        if (i + j)%2== 0:
            print('1',end=' ')
        else:
            print('0', end='')
    print()

In [ ]:
a = int(input("kindly enter any no to print its table"))
for i in range(10,0,-1):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

In [ ]:
student = {
    'student name' : 'umair',
    'student rol' : '2019',
    'student class' : 'AI class',
}

In [ ]:
student.keys()

In [ ]:
student.values()

In [ ]:
type(student)

In [ ]:
student['student class']

In [ ]:
student['marks'] = 98

In [ ]:
student.keys()

In [ ]:
for i in student.keys():
    print(i, student[i])

In [ ]:
for i,j in student.items():
    print(i,j)

In [ ]:
students = [{
    'name' : 'Usman',
},
{
     'name' : 'umair',
},
{
       'name' : 'Taha',
}
]

In [ ]:
for i in students:
    for j in i.keys():
        print(i[j])

In [ ]:
data = "My name is Usman, today is our 4th class, Pakistn lost yesterday by Afghanistan"
splitted_data=  data.split(" ")
print(splitted_data)

In [ ]:
print(splitted_data[::-1])

In [ ]:
for data in range(0:12:)

In [ ]:
diction = {}
for i in splitted_data:
    if i in diction.keys():
        diction[i] += 1
    else:
        diction[i] = 1
print(diction)

In [ ]:
for i in range(5):
    for j in range(5):
        for k in range(5):
            print(i,j,k)

In [ ]:
def function_ka_name():
    x=2
    y=3
    z=x+y
    print(z)

In [ ]:
function_ka_name():

In [ ]:
def function_ka_name():
    x=2
    y=3
    z=x+y
    print(z)

In [ ]:
function_ka_name()

In [ ]:
def function_ka_name():
    x=2
    y=3
    z=x+y
    return z
r = function_ka_name()

r

In [ ]:
def add(x,y):
    return x+y
add(7,8)

In [ ]:
add(4,3)

In [ ]:
def calculator():

In [ ]:
if x=+
if y=-
if z=/
if a=*

In [ ]:
def calculator
ad=+
mi=-
mu=/
di=*
x=0
print
return = x+y+z+a

In [ ]:
def add(x,y):
    return x+y

In [ ]:
def sub(x,y):
    return x-y

In [ ]:
def mul(x,y):
    return x*y

In [ ]:
def div(x,y):
    return x/y

In [ ]:
a=int(input("enter first no" ))
b=int(input("enter second no" ))
op=input("enter operator: ")
r=0
if(op== '+'):
    r=add(a,b)
elif(op== '-'):
    r=sub(a,b)
elif(op== '*'):
    r=mul(a,b)
elif(op== '/'):
    r=div(a,b)
print(a,op,b,"=",r)

In [ ]:
def test1(x,y):
    return x-y

In [ ]:
def display_nums (first, second_num,*opt_num):
    print(first)
    print(second_num)
    print(opt_num)
    
    
display_nums (22,34,55,23,77)

In [ ]:
import random
random.randint(0,10)

user_input ='n'
while user_input != x
user_input=input("enter a something

In [ ]:
user_input=-3
while user_input!= x
    user_input = (input("Guess a nmber: "))

# # New Class start dated 03-08-2019

In [ ]:
x = "Hello \t Usman bin Saeed"
print(x)

In [ ]:
len(x)

In [ ]:
a=10
b=20
tmp=a
a=b
b=tmp
print(a, " ",b)

In [ ]:
a=10
b=20
a=a+b   #
b=a-b
a=a-b   #a=30 - 20=10
print(a, "  ",b)

In [ ]:
a=50
b=40

a=a^b
b=a^b
a=a^b
print(a, "   ",b)

In [ ]:
a=50
b=40

a,b=b,a
print(a, "   ",b)

In [ ]:
from collection import defaultdict

In [ ]:
d=dict(int)

In [ ]:
d.keys()

In [ ]:
d=defaultdict(str)

In [ ]:
d.keys()

In [ ]:
from collections import counter

In [ ]:
lat = [2,2,2,2,2,244,4,5,5,56,6,7,,8,9,9,9,0]
counter_object = lat(counter)

In [ ]:
counter_object

In [ ]:
x = [2,4,3,5,6,3,5]

In [ ]:
y = sorted(x)

In [ ]:
x = [2,1,3,7,4,0,2,9]

In [ ]:
y=sorted()

In [ ]:
y

In [ ]:
for i in range (1,11):
    print("2 *" , i , "2*i ")

In [ ]:
lst = [[i * j for j in range(1,11)] for i in range(1,11)]

In [ ]:
lst

In [ ]:
def f ():
    for i in range(1,10):
        yield i

In [ ]:
for i in f():
    print(i)

In [ ]:
table = [1,2,3,4]

In [ ]:
table

In [12]:
table = [x for x in range(1,5)]

In [19]:
table

NameError: name 'table' is not defined

In [19]:
with open('whatever.txt', "w") as f:
    f.write ("ye meri nei file he")

NameError: name 'table' is not defined

In [24]:
with open('dated.txt', 'w')as us:
    us.write('dated 2.2.3.3')

In [18]:
a= with open('dated.txt', mode = 'w')as f:
    f.write("hello")

SyntaxError: invalid syntax (<ipython-input-18-e3581caced59>, line 1)

In [ ]:
with open('je')