In [2]:
print("Hello World")

Hello World

In [3]:
print("Hello world \nHello PIAIC")

Hello world
Hello PIAIC

In [4]:
no_of_sides = 3

In [ ]:
b = 2
b ** 5

32

a=int(input("Enter a:"))
b=int(input("Enter B:"))
c=int(input("Enter C:"))
d=b**2-4*a*c
if d<0:
    print("Solution doesn't exist")
else:
    x1=(-b+d**0.5)/(2*a)
    x2=(-b+d**0.5)/(2*a)
    print("x1=",x1,"x2=",x2)

In [ ]:
a=int(input("Enter a:"))
b=int(input("Enter B:"))
c=int(input("Enter c:"))
d=b**2-4*a*c
if d<0:
    print("solution does't exist")
else:
    x1=(-b+d**0.5)/(2*a)
    x1=(-b-d**0.5)/(2*a)
    print("x1=",x1,"x2=",x2)

In [ ]:
age = 22
age +=7
print(age)

In [ ]:
2**5

In [ ]:
x = 1
y = 2
z = x = y = 3
print(x,y,z)

In [ ]:
x

In [ ]:
x = "Hello"
x += " World"
print(x)

In [ ]:
x = ("The sum of 2 plus 2 is ") + Str(4))

In [ ]:
x

In [ ]:
x = int(input("kindly enter any number "))
if x%2 == 0:
    print("the no is even")
else:
    print("the no is odd")

In [ ]:
kindy enter any number
5

In [ ]:
x = int(input("kindly entet a No "))
if x > 0 :
    print("the no is positive")
elif x == 0:
    print("the no is zero")
else:
    print("the no is negative")

6

In [ ]:
x = 0
if x == 0:
    print("true")

In [ ]:
if 13:
    print("hello")

In [ ]:
bool(13)

In [ ]:
bool(0)

In [ ]:
bool(14)

In [ ]:
bool("hello")

In [ ]:
bool()

In [ ]:
bool("false")

In [ ]:
a = int(input("enter any No "))
b = int(input("enter any no "))
c = int(input("enter any No "))
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else:
    print("c is greater")

In [ ]:
c

In [ ]:
a = int(input("enter any no"))
b = int(input("enter any no"))
c = int(input("enter any no"))
if a>b:
    if a>c:
        print("A is greater")
elif b>c:
    if b>a:
        print ("B is greater")
else:
    print("C is greator")

In [ ]:
""""""
This is going to be my
first progrme
""""""

In [ ]:
cities = ("Karachi", "Lahore", "Peshawar", "Islamabad", "Culcatta")

In [ ]:
cities[0]

In [ ]:
cities[1]

In [ ]:
cities[-5]

In [ ]:
cities.appent["Islamabad"]

### cities.insert(2,"Hyderabad")

In [ ]:
remove[3]

In [ ]:
country = []

In [ ]:
cities += ['Bombay']

In [ ]:
cities

In [ ]:
del Lahore

In [ ]:
cities.remove('Lahore')

In [ ]:
cities

In [ ]:
x = cities[2]
del x

In [ ]:
cities

In [ ]:
cities[::2]

In [ ]:
cities[::3]

In [ ]:
cities

In [ ]:
cities[2:3]

In [ ]:
cities[:]

In [ ]:
cities

In [ ]:
x = cities

In [ ]:
x[0] = 'Sydeney'

In [5]:
a = int(input("kindly enter any no to print its table"))
for i in range(10,0,-1):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

kindly enter any no to print its table4
4 * 10 = 40
4 * 9 = 36
4 * 8 = 32
4 * 7 = 28
4 * 6 = 24
4 * 5 = 20
4 * 4 = 16
4 * 3 = 12
4 * 2 = 8
4 * 1 = 4

In [26]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = int(input("kindly enter any no to print its table"))
for i in range(1,11):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

In [4]:
a = int(input("kindly enter any no to print its table"))
for i in range(10,0,-1):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

kindly enter any no to print its table10
10 * 10 = 100
10 * 9 = 90
10 * 8 = 80
10 * 7 = 70
10 * 6 = 60
10 * 5 = 50
10 * 4 = 40
10 * 3 = 30
10 * 2 = 20
10 * 1 = 10

In [7]:
name = 'Usman'
for a in name:
    print(a)

-
U
s
m
a
n

In [ ]:
user_input = input("Enter a number")

In [ ]:
user_input = float(input("Enter a number")

In [12]:
list = ['pen', 'telephone', 'cell phone', 'ball', 'elephanet']
list.reverse()
print(list)

['elephanet', 'ball', 'cell phone', 'telephone', 'pen']

In [40]:
list = ['pen', 'telephone', 'cell phone', 'ball', 'elephane')
list.tittle()
print(list)

SyntaxError: invalid syntax (<ipython-input-40-f57393a19999>, line 1)

In [25]:
name="Asadullah"
vowel=[]
for v in name.lower():
    if v=='a' or v=='e' or v=='i' or v=='o' or v=='u':
        vowel.append(v)
print(vowel)
print(len(vowel))

['a', 'a', 'u', 'a']
4

In [26]:
x = ['pen', 'telephone', 'cell phone', 'ball', 'elephane']
type (x)

list

In [29]:
x = ('red', 'green', 'blue', 'yellow')
x

('red', 'green', 'blue', 'yellow')

In [30]:
x[0]

'red'

In [36]:
first=['Usman','Saeed']
last=['Rasheed', 'Tahir']
ful_name=[]
for x in first:
    for y in last:
        ful_name.append(x + ' ' +y)

In [37]:
ful_name

['Usman Rasheed', 'Usman Tahir', 'Saeed Rasheed', 'Saeed Tahir']

In [ ]:
first=['Usman','Saeed']
last=['Rasheed', 'Tahir']
ful_name=[]
for x in first:
    for y in last:
        ful_name.append(x+' ' +y)

In [44]:
x=input('enter any thing:  ')
y=x.title()
y

enter any thing:  kkill adfsfdi adsfkjf kafjskf

'Kkill Adfsfdi Adsfkjf Kafjskf'

In [57]:
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1

SyntaxError: invalid syntax (<ipython-input-57-816439ed5246>, line 1)

In [64]:
for i in range(0, 7):
    for j in range(0,7):
        if (i + j)%2== 0:
            print('1',end=' ')
        else:
            print('0', end='')
    print()

1 01 01 01
01 01 01 0
1 01 01 01
01 01 01 0
1 01 01 01
01 01 01 0
1 01 01 01

In [ ]:
a = int(input("kindly enter any no to print its table"))
for i in range(10,0,-1):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

In [76]:
student = {
    'student name' : 'umair',
    'student rol' : '2019',
    'student class' : 'AI class',
}

In [77]:
student.keys()

dict_keys(['student name', 'student rol', 'student class'])

In [78]:
student.values()

dict_values(['umair', '2019', 'AI class'])

In [79]:
type(student)

dict

In [81]:
student['student class']

'AI class'

In [71]:
student['marks'] = 98

In [82]:
student.keys()

dict_keys(['student name', 'student rol', 'student class'])

In [83]:
for i in student.keys():
    print(i, student[i])

student name umair
student rol 2019
student class AI class

In [84]:
for i,j in student.items():
    print(i,j)

student name umair
student rol 2019
student class AI class

In [89]:
students = [{
    'name' : 'Usman',
},
{
     'name' : 'umair',
},
{
       'name' : 'Taha',
}
]

In [90]:
for i in students:
    for j in i.keys():
        print(i[j])

Usman
umair
Taha

In [95]:
data = "My name is Usman, today is our 4th class, Pakistn lost yesterday by Afghanistan"
splitted_data=  data.split(" ")
print(splitted_data)

['My', 'name', 'is', 'Usman,', 'today', 'is', 'our', '4th', 'class,', 'Pakistn', 'lost', 'yesterday', 'by', 'Afghanistan']

In [94]:
print(splitted_data[::-1])

['Afghanistan', 'by', 'yesterday', 'lost', 'Pakistn', 'class,', '4th', 'our', 'is', 'today', 'Usman,', 'is', 'name', 'My']

In [100]:
for data in range(0:12:)

SyntaxError: invalid syntax (<ipython-input-100-75543a3b6f08>, line 1)

In [103]:
diction = {}
for i in splitted_data:
    if i in diction.keys():
        diction[i] += 1
    else:
        diction[i] = 1
print(diction)

{'My': 1, 'name': 1, 'is': 2, 'Usman,': 1, 'today': 1, 'our': 1, '4th': 1, 'class,': 1, 'Pakistn': 1, 'lost': 1, 'yesterday': 1, 'by': 1, 'Afghanistan': 1}

In [106]:
for i in range(5):
    for j in range(5):
        for k in range(5):
            print(i,j,k)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4