In [1]:
name = "Usman"
print(name)

Usman

In [2]:
thanx = "Thanks for your input!" 
print(thanx)

Thanks for your input!

In [3]:
original_num = 23 
num_to_be_added = 7 
new_num = original_num + num_to_be_added 
print(new_num)

30

In [4]:
original_num = 90 
original_num += 10 
print(original_num)

100

In [1]:
print(2+2)

4

In [6]:
loss = 24-14
print(loss)

10

In [7]:
dozen = 12 * 3
print(dozen)

36

In [8]:
divide = 12/4
print(divide)

3.0

In [9]:
print(3*12)

36

In [10]:
age = 12 
age -= 2 
print(age)

10

In [11]:
age = 12 
age *= 4
print(age)

48

In [12]:
age

48

In [13]:
age = 12 
amount_to_increment = 3 
age += amount_to_increment
print(age)

15

In [14]:
total_cost = 1 + 3 * 4 
print(total_cost)
# in this code phyton does first divide then plus

13

In [15]:
total_cost = (1 + 3) * 4
print(total_cost)
# if you want to add first, use bracket

16

In [19]:
billi = input("Input janwr name ")
if billi == "cat": 
    print("Yep, it's cat.")
else: 
    print("This is not cat ")
# you typ word "species" that mean khas cheez braber he

Input janwr name dog
This is not cat

In [23]:
number_of_husbands = 1
if number_of_husbands == 1: 
    print("So far so good.") 
    print("Congratulations.") 
    print("All done")

So far so good.
Congratulations.
All done

In [77]:
number_of_husbands = int(input("Tell me No. of Husbands "))
if number_of_husbands == 1: 
    print("So far so good.")
if number_of_husbands == 2:
    print("Congratulations.")
if number_of_husbands == 3:
    print ("Awara orat")
else:
    print("Dawat-e-Aam ")

Tell me No. of Husbands 3
Awara orat

In [78]:
number = int(input("Input your Lucky draw No "))
if number != 334 :
    print("Try Again ")
else:
    print("Congratulations" )
# Another comparison operator, !=, is the opposite of ==. It means is not equal to.

Input your Lucky draw No 332
Try Again

In [87]:
tick = int(input("Ticket Number "))
if tick == 1234:
    print("Congratulation")
else:
    print("Try Again")

Ticket Number 1234
Congratulation

In [91]:
x = int(input("Input No. "))
if x>8:
    print("yes x se bara he")

Input No. 3

In [96]:
x = int(input("Input No. "))
if x<100:
    print("yes ye number x se kum he ")
else:
    print("No ye number x se bara he")

Input No. 100
No ye number x se bara he

In [98]:
weight = int(input("Enter weight "))
time = int(input("Enter time "))
if weight>300 or time <59:
    print ("Recurti him immediatly")
else:
    print ("Dhakka Do")
# one condititon is true in both fiqure that called "OR"

Enter weight 23
Enter time 45
Recurti him immediatly

In [99]:
weight = int(input("Enter weight "))
time = int(input("Enter time "))
if weight>300 and time <59:
    print ("Recurti him immediatly")
else:
    print ("Dhakka Do")
# if any one condititon is false in both fiqure called "AND"

Enter weight 23
Enter time 56
Dhakka Do

In [106]:
age = int(input("Age "))
res = "Pakistan"
if age > 65 or age < 21 and res == "Pakistan": 
    print("Hard Worker ")

Age 56

In [90]:
x = int(input("Input No. "))
if x>8:
    print("yes")

Input No. 9
yes

In [90]:
x = int(input("Input No. "))
if x>8:
    print("yes")

Input No. 9
yes

In [1]:
city0 = "Islamabad"
city1 = "Karachi"
city2 = "Hyderabad"
city3 = "Quetta"
city4 = "Airport"
print("Welcome to", city1)

Welcome to Karachi

In [33]:
# if You want to change it to "Quetta" This is the code: cities[2] = "Houston
city3 = "Behria"

In [34]:
city3

'Behria'

In [69]:
cities[8] = "Shumail View"

IndexError: list assignment index out of range

In [70]:
print(cities)

['Larkana', 'Nawabshah', 'Hyderabad', 'Karachi', 'Pishawar', 'Chaman', 'Korea', 'xyz']

In [33]:
cities = ["Larkana", "Nawabshah", "Hyderabad", "Karachi", "Pishawar", "Chaman", 'Korea', "xyz"]
print("Welcome to " + cities [6])

Welcome to Korea

In [72]:
# ADDING OR CHANGING ELEMENTS IN LIST 
# append for only 1 item add

In [30]:
cities.append("Scheme-33")
print(cities)

AttributeError: 'tuple' object has no attribute 'append'

In [34]:
cities = cities +["New Yark", "America"]

In [31]:
print (cities)

('Karachi', 'Larkana')

In [79]:
 # if you want to insert "New York" at the beginning of the list, I write
cities.insert(3, "Shumail View")

In [80]:
print(cities[8])

Korea

In [29]:
copy_list = cities[0:5]
print(copy_list)

('Karachi', 'Larkana')

In [35]:
copy_list = cities[:4]
print(copy_list)

['Larkana', 'Nawabshah', 'Hyderabad', 'Karachi']

In [57]:
# DELETE karne ke lea
del city0
# if you del an element whole value are remain same but variable city0 are deleted

In [82]:
del cities[7:8]

In [98]:
del cities[4]
print(cities)

['Larkana', 'Nawabshah', 'Hyderabad', 'Shumail View', 'Pishawar', 'Korea', 'Scheme-33', 'New Yark', 'America']

In [85]:
cities.append ("xyz")
print(cities)

['Larkana', 'Nawabshah', 'Hyderabad', 'Karachi', 'Pishawar', 'Chaman', 'Korea', 'New Yark', 'America', 'xyz']

In [86]:
cities.remove("xyz")
print(cities)

['Larkana', 'Nawabshah', 'Hyderabad', 'Karachi', 'Pishawar', 'Chaman', 'Korea', 'New Yark', 'America']

In [119]:
city_to_check = input("Enter your city: ") 
city_to_check = city_to_check.lower() 
cleanest_cities = ["karachi", "lahore", "china", "washinton" , "honolulu"] 
for a_clean_city in cleanest_cities: 
    if city_to_check == a_clean_city: 
        print("It's one of the cleanest cities")

Enter your city: Karachi
It's one of the cleanest cities

In [99]:
for abc in cities:
    if found == "Karachi":
        print("Yes Ye mojod he ") 
        break
    else:
        print("Not Found ")
        break

Yes Ye mojod he

In [111]:
first_names = ["Muhammad ", "Usman ", "Saeed ", "Gizmo ", "Pyara "] 
last_names = ["Honest", "Osu", "Us Saeed", "Boy"] 
full_names = [] 
for a_first_name in first_names: 
    for a_last_name in last_names: 
        full_names.append(a_first_name + " " + a_last_name) 
        print(full_names)
        break

['Muhammad  Honest']
['Muhammad  Honest', 'Usman  Honest']
['Muhammad  Honest', 'Usman  Honest', 'Saeed  Honest']
['Muhammad  Honest', 'Usman  Honest', 'Saeed  Honest', 'Gizmo  Honest']
['Muhammad  Honest', 'Usman  Honest', 'Saeed  Honest', 'Gizmo  Honest', 'Pyara  Honest']

In [124]:
east = {
    "Country":"Pakistan",
    "Provinc":"Sindh",
    "City":"Karachi", 
    "District":"East",
    "Taluka":"Gulzar e Hijri "}
print(east)

{'Country': 'Pakistan', 'Provinc': 'Sindh', 'City': 'Karachi', 'District': 'East', 'Taluka': 'Gulzar e Hijri '}

In [132]:
for abc in east.keys():
    print(abc)

Country
Provinc
City
District
Taluka

In [131]:
for abc in east.values():
    print(abc)

Pakistan
Sindh
Karachi
East
Gulzar e Hijri

In [134]:
for abc, xyz in east.items():
    print("The Citizenship" + " " + abc + " " + xyz)

The Citizenship Country Pakistan
The Citizenship Provinc Sindh
The Citizenship City Karachi
The Citizenship District East
The Citizenship Taluka Gulzar e Hijri

In [136]:
east.items()

dict_items([('Country', 'Pakistan'), ('Provinc', 'Sindh'), ('City', 'Karachi'), ('District', 'East'), ('Taluka', 'Gulzar e Hijri ')])

In [141]:
east.values()

dict_values(['Pakistan', 'Sindh', 'Karachi', 'East', 'Gulzar e Hijri '])

In [200]:
# lets make list of dictionries like taht
citizenship = [
    {
        "cit" : 1,
        "Country":"Pakistan",
        "Asia" : "Pak",
    },
    {
        "cit" : 2,
        "Provinc":"Sindh",
        "Village"  : "Larkano",
    },
    {
        "cit" : 3,
        "City":"Karachi",
        "Area" :  "Scheme-33",
    }, 
    {
        "District":"East"
    },
    {
        "Taluka":"Gulzar e Hijri ",
        "discounts": ["standard", "volume", "loyalty"], 
    }]
print(citizenship)

[{'cit': 1, 'Country': 'Pakistan', 'Asia': 'Pak'}, {'cit': 2, 'Provinc': 'Sindh', 'Village': 'Larkano'}, {'cit': 3, 'City': 'Karachi', 'Area': 'Scheme-33'}, {'District': 'East'}, {'Taluka': 'Gulzar e Hijri ', 'discounts': ['standard', 'volume', 'loyalty']}]

In [204]:
east ["Country"]

'Pakistan'

In [187]:
citizenship [2]

{'cit': 3, 'City': 'Karachi', 'Area': 'Scheme-33'}

In [198]:
len(citizenship)

5

In [ ]:
if "Primium_Discount " in customer_29876["discounts"]: 
    discount_amount = .30 
    elif "Golden_Discount" in customer_29876["discounts"]: 
        discount_amount = .15 
    elif "Silver_Discount" in customer_29876["discounts"]: 
        discount_amount = .10
    elif "Standard_Dis" in customer_29876["discounts"]: 
        discount_amount = .05

In [228]:
customers = { 
    0: { 
        "first name":"John", 
        "last name": "Ogden", 
        "address": "301 Arbor Rd.", 
        }, 
    1: { 
        "first name":"Ann", 
        "last name": "Sattermyer", 
        "address": "PO Box 1145", 
        }, 
    2: { 
        "first name":"Jill", 
        "last name": "Somers", 
        "address" :"3 Main St.",
        }}
print(customers)

{0: {'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, 1: {'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}, 2: {'first name': 'Jill', 'last name': 'Somers', 'address': '3 Main St.'}}

In [230]:
print(customers[2]["last name"])

Somers