In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello world \nHello PIAIC")

Hello world
Hello PIAIC

In [3]:
a = "Hello World"
print(a[1:])

ello World

In [4]:
a = "Hello World"
print(a.upper())

HELLO WORLD

In [5]:
a = "Hello World"
print(a.lower())

hello world

In [2]:
a = "Hello World"
print(len(a))

11

In [26]:
a = "Hello World"
print(a.replace("H", "J"))

Jello World

print("Enter Your Name")
x = input()
print("Hello", x)

In [9]:
x = 5
y = 5
print(x+y)

10

In [10]:
x = "Phyton is "
y = "Awosem"
print(x+y)

Phyton is Awosem

In [11]:
x = 5
x /= 3
print(x)

1.6666666666666667

In [12]:
b = 3
b**2

9

In [13]:
a=int(input("enter a:"))
b=int(input("enter B:"))
c=int(input("enter c:"))
d=b**2-4*a*c
if d<0:
    print("solution does't exist")
else:
    x1=(-b+d**0.5)

enter a:3
enter B:4
enter c:3
solution does't exist

In [14]:
age = 22
age +=1
print(age)

23

In [15]:
2**3*2

16

In [16]:
x = 1
y = 2
z = x = y = 3

In [17]:
x = int(input("kindly enter any nmber"))
if x%2 == 0:
    print("the no is even")
else:
    print("the no is odd")

kindly enter any nmber2
the no is even

In [18]:
x = int(input("kindly entet a no"))
if x > 0 :
    print("the no is positive")
elif x == 0:
    print("the no is zero")
else:
    print("the no is negative")

kindly entet a no3
the no is positive

In [19]:
x = 0
if x == 0:
    print("true")

true

In [20]:
bool(13)

True

In [21]:
bool(0)

False

In [22]:
bool("hello")

True

In [23]:
bool()

False

In [24]:
bool("false")

True

In [4]:
a = int(input("A enter any no  "))
b = int(input("B enter any no "))
c = int(input("C enter any no "))
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else:
    print("c is greater")

A enter any no  8
B enter any no 00
C enter any no 9
c is greater

In [ ]:
a" = int(input("enter any no"))
b = int(input("enter any no"))
c = int(input("enter any no"))
if a>b:
    if a>c:
        print("A is greater")
elif b>c:
    if b>a:
        print ("B is greater")
else:
    print("C is greator")

In [ ]:
""""""
This is going to be my
first progrme
""""""

In [29]:
cities = ("Karachi", "Lahore", "Peshawar", "Islamabad", "Culcatta",)
print(cities)

('Karachi', 'Lahore', 'Peshawar', 'Islamabad', 'Culcatta')

In [30]:
cities[0]

'Karachi'

In [31]:
cities[1]

'Lahore'

In [32]:
x = cities
print(cities)

('Karachi', 'Lahore', 'Peshawar', 'Islamabad', 'Culcatta')

In [34]:
cities = ['Karachi', 'Lahore', 'Peshawar']
cities += ['Bombay','calcutta']

In [35]:
cities[1:3]

['Lahore', 'Peshawar']

In [36]:
cities[0:3:2]

['Karachi', 'Peshawar']

In [37]:
cities[::2]

['Karachi', 'Peshawar', 'calcutta']

In [ ]:
cities.append("Sydney")

In [ ]:
cities

In [43]:
cities = ['Karachi', 'Lahore', 'Peshawar', 'Bombay', 'calcutta', 'Sydney']
x = cities.index('Karachi')
print(x)

0

In [44]:
cities = ['Karachi', 'Lahore', 'Peshawar', 'Bombay', 'Calcutta', 'Sydney']
cities.sort()
print(cities)

['Bombay', 'Calcutta', 'Karachi', 'Lahore', 'Peshawar', 'Sydney']

In [51]:
cities = ['Karachi', 'Lahore', 'Peshawar', 'Bombay', 'calcutta', 'Sydney']

print(len(cities))

6

In [53]:
cities = ['Karachi', 'Lahore', 'Peshawar', 'Bombay', 'calcutta', 'Sydney']
cities.insert(1, "Lalokhet")

In [54]:
cities

['Karachi', 'Lalokhet', 'Lahore', 'Peshawar', 'Bombay', 'calcutta', 'Sydney']

In [57]:
forloop = ['Karachi', 'Lalokhet', 'Lahore', 'Peshawar', 'Bombay', 'calcutta', 'Sydney']
for x in forloop:
    print(x)

Karachi
Lalokhet
Lahore
Peshawar
Bombay
calcutta
Sydney

In [78]:
a = int(input("kindly enter any no to print its table"))
for i in range(10,0,-1):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

kindly enter any no to print its table7
7 * 10 = 70
7 * 9 = 63
7 * 8 = 56
7 * 7 = 49
7 * 6 = 42
7 * 5 = 35
7 * 4 = 28
7 * 3 = 21
7 * 2 = 14
7 * 1 = 7

In [64]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
list(range(22,36))

[22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [83]:
a = int(input("kindly enter any no to print its table"))
for i in range(4):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

kindly enter any no to print its table4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12

In [91]:
a = int(input("kindly enter any no to print its table "))
for i in range(1 ,11):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

kindly enter any no to print its table 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [94]:
name = 'Usman'
for a in name:
    print(a)

U
s
m
a
n

In [ ]:
user_input = float(input("Enter a number")

In [95]:
x = 6
print(x>3 and x<9)

True

In [97]:
x = 12
print(x>3 or x<14)

True

In [100]:
dict = {"Brand" : "Ford", "Model" : "Suzuki", "Year" : "2018"}
print(dict)

{'Brand': 'Ford', 'Model': 'Suzuki', 'Year': '2018'}

In [ ]:
dict = {"Brand" : "Ford", "Model" : "Suzuki", "Year" : "2018"}
dict["Brand"] = "Mira"
print(dict)

In [104]:
for x in dict:
    print(x)

Brand
Model
Year

In [105]:
for x in dict.values() :
    print(x)

Ford
Suzuki
2018

In [106]:
for x, y in dict.items():
    print(x,y)

Brand Ford
Model Suzuki
Year 2018

In [107]:
dict = {"Brand" : "Ford", "Model" : "Suzuki", "Year" : "2018"}
dict["Clour"] = "Red"
print(dict)
# for adding a more item

{'Brand': 'Ford', 'Model': 'Suzuki', 'Year': '2018', 'Clour': 'Red'}

In [118]:
for x,y in dict.items():
    print(x,y)

Brand Ford
Model Suzuki
Year 2018
Clour Red

In [ ]:
a = 99
b = 88
if a>b:
    print("A is Greater Value")

In [122]:
a = int(input())
b = int(input())
if a>b:
    print("A is Greater Value")
elif a == b:
    print("A and B are equal")

22
22
A and B are equal

a = 67
b = 77
if a>b:
    
    print("A is Greater Value")
elif a == b:
    print("A and B are equal")
else:
    print("B is Greater")

In [ ]:
a = 79
b = 78
if a>b:
    print("A is Greater Value")
else:
    print("B is greater then A")

In [ ]:
a = 201
b = 200
c = 150
if a>b and b>c:
    print("Both condition are True")

In [ ]:
a = 201
b = 200
c = 150
if a>b or c>a:
    print("Atleast one Cond.is true")