In [33]:
print("Hello Usman ")

Hello Usman

In [34]:
name = "Muhammad"
print(name)

Muhammad

In [35]:
name = "Usman"
print(name)

Usman

In [36]:
thanks = "Thanks for your input"
print(thanks)

Thanks for your input

In [37]:
print(thanks)

Thanks for your input

In [38]:
thanks

'Thanks for your input'

In [39]:
usman = 150

In [40]:
usman += 25

In [41]:
usman

175

In [42]:
newnumber = usman + 25

print(newnumber)

200

In [43]:
yourage = "21"
print (yourage)

21

In [44]:
numberading  = 6 * 2
print(numberading)

12

In [45]:
(9*9)

81

In [46]:
(9-8)

1

In [47]:
divide = 3*3
print(divide)

9

In [48]:
plus = .75 + .82
print(plus)

1.5699999999999998

In [49]:
USM = "adfasf"
print(USM)

adfasf

In [50]:
divide *3

27

In [51]:
divide +=3
print(divide)

12

In [52]:
divide = 34
nuenumb = 3 
divide += nuenumb
print(divide)

37

In [53]:
divide

37

In [54]:
print((3+2)*7)
#IF U NOT USE INNER BRACKET (3+2) PHYTON DO FIRST DIVIDE THEN PLUS

35

In [55]:
print(3+2*7)
#EXAMPLE

17

In [56]:
greeting = "Hello" 
separators = ", " 
addressee = "World" 
punc = "!" 
whole_greeting = greeting + separators + addressee + punc 
print(whole_greeting)

Hello, World!

In [57]:
print("Hello, " + "World!")

Hello, World!

In [58]:
print(greeting + separators + addressee + punc)

Hello, World!

In [59]:
print("Hello" + separators + "World" + punc)

Hello, World!

In [60]:
# IF STATEMTN EXERCIS
# in if condition the sentence end must with collon i.e     " : "

In [61]:
species = "cat"
if species == "cat" :
        print("yes it is Cat")

yes it is Cat

In [62]:
species = "dog"
if species == "cat" :
        print("Yes it is Cat")
else :
        print("Not its not Cat")

Not its not Cat

In [63]:
species = "Dog"
if species == "cat" :
        print("yes it is Cat")
if species != "cat" :
        print("Not its not Cat")

Not its not Cat

In [64]:
number_of_husbands = int(input("Press any number "))
if number_of_husbands == 1: 
    print("Congratuation.")
    print("SO FAR SO GOOD.")
    print("All done.")
else:
    print("Oh No")

Press any number 3
Oh No

In [65]:
tiket = int(input("Press any number "))
if tiket != 487208:    
    print("Better luck next time.")
else:
    print("Congralution Your Are Winnier Bumber Prize")

Press any number 3
Better luck next time.

In [66]:
donut_condition = "fres"
donut_price = 23
donut_filling = "choolate"

In [67]:
donut_condition = "fres"
if donut_condition == "fresh": 
    buy_score = 10 
elif donut_price == "low": 
    buy_score = 5 
else: 
    buy_score = 0

In [68]:
donut_condition

'fres'

In [69]:
buy_score = 0 
if donut_condition == "fresh": 
    buy_score += 10 
if donut_filling == "chocolate": 
    buy_score += 5 
if donut_price == "reasonable":
    buy_score += 7

In [70]:
donut_filling

'choolate'

In [71]:
weight = int(input("Enter weith "))
time = int(input("Enter time"))
if weight>300 and time <59:
    print ("Recurti him immediatly")
# both condiotn are tru formula "AND"

Enter weith 3
Enter time3

In [72]:
weight = int(input("Enter weith "))
time = int(input("Enter time "))
if weight>300 or time <59:
    print ("Recurti him immediatly")
else:
    print ("Dhakka Do")
# both condiotn are tru formula "AND"

Enter weith 3
Enter time 3
Recurti him immediatly

In [73]:
weight = int(input("Enter weith "))
time = int(input("Enter time"))
height = int(input("Enter Height"))
age = int(input("Enter age"))
if weight > 300 and time < 59 and height >6  and age <18 :
    print ("Recurti him immediatly")
# both condiotn are tru formula "AND"

Enter weith

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# for multi line comments we use three 3 single qutions
'''
rwer
erqwer
werqwe
'''

In [ ]:
city1 = "Saudia"
city2 = "Japan"
city3 = "Pakistan"
city4 = "America"
city5 = "Afghanistan"
city6 = "China"

print("Welcom to " + city3)

In [ ]:
cities = ["saudia", "Japan", "Pakistan", "America", "Afghanistan", "China"]

In [ ]:
cities[2:5]

In [ ]:
cities[2:]

In [ ]:
cities [0:2]

In [ ]:
print("Welcom to " + cities[3])

In [ ]:
# for add on elemnet or append this formula has go
cities.append("Karachi")

In [ ]:
print(cities)

In [ ]:
cities.pop(0)
print(cities)

In [ ]:
cities.append(2)

In [ ]:
print(cities)

In [ ]:
#Ther are an alternative way to append. It allows you to add one or more elements to a list.
cities = cities + ["lahore", "Kaghan"]

In [ ]:
print(cities)

In [ ]:
copy=cities[0:3]
print(copy)
#for copy purpose take new verible i.e i made "copy" and chose target with use of collon

In [ ]:
cities[4:]

In [ ]:
print

In [ ]:
today_task = []
print(today_task)

In [ ]:
today_task = ["Bank", "Pay Bill", "Zng Rech", "So ON"]

In [ ]:
today_task[0]
today_task[1]
today_task[2]
today_task[3]
print(today_task[3])

In [ ]:
today_task[2]

In [ ]:
del today_task[0]
print(today_task)

In [ ]:
today_task[1]

In [ ]:
today_task

In [ ]:
today_task = today_task + ["Walk to Park ", "and purchase somethin "]

In [ ]:
today_task

In [ ]:
cities.insert(0, "Karachi")

In [ ]:
print(cities)

In [ ]:
cities.remove(2)

In [ ]:
print(cities)

In [ ]:
# for replace an 
cities [0] = "Keemari"

In [ ]:
print(cities)

In [ ]:
citytocheck = "Japan"
cleanestcity == ["Japan", "Tokoy", "Mansehra", "naran", "Khan"]

In [ ]:
# FOR LOOP FORMULA 
for x in cleanestcity :
    if x == citytocheck:
        print("The Cleansit city")
# find some one in whole list we give command for x in variabl name then use if command and use == parameter & colon

In [ ]:
target = "Japan"
hole_list = [1,2,3,4,"Japan", "and more"]
for x in hole_list :
    if x == target:
        print("Yes It Is Clen One")

In [ ]:
z = "Japan"
y = [1,2,3,4,"Japan", "and more"]
for x in y :
    if x == z:
        print("Somethin")

In [ ]:
target = input("Enter Your Target ")
target = target.lower()
whole_list = ["kemad", "derer", "joker", "dfsf"]
for x in whole_list:
    if x == target:
        print("Your u are succsuful")
#for user input in chngecase into capital or lower case

In [ ]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "] 
last_names = ["Zzz", "Burp", "Dogbone", "Droop"] 
full_names = [] 
for a_first_name in first_names: 
    for a_last_name in last_names: 
        full_names.append(a_first_name + " " + a_last_name)

In [ ]:
monthlyincome = input("Enter your Rupees ")

In [7]:
with open('whatever.txt', "a") as f:
    f.write ('Dated ,34,34')

In [ ]:
print(whatever)

In [22]:
ai = ("Hi Usman ap kese hen\nThis is new\nDown Columns me Ap ko Result Dikhaya gaya he\nAge = >19\nName=Usman\nprint(Age)")
with open ("sher.txt", "w")as f:
    ma = f.write (ai)
    print(ma)

109

In [23]:
with open("sher.txt") as f:
    message = f.read()
    print(message)

Hi Usman ap kese hen
This is new
Down Columns me Ap ko Result Dikhaya gaya he
Age = >19
Name=Usman
print(Age)

In [ ]:
print(acitie)

In [ ]:
print(acitie)

In [ ]:
 with open("greet.txt", "w") as f:
        f.write("Hello, world!")

In [ ]:
with open("greet.txt", "r") as f: 
    text_of_file = f.read() 
    print(text_of_file) 
    
# for text file print view ke le variable and f.read
# for json file print view ke lea variable and json.load

In [ ]:
with open("acitie.txt", "a") as f:
    f.write("\n Or Mazeed add karen")

In [25]:
import json

In [26]:
alphabet_letters = ["a", "b", "c"] 
with open("alphabet_list.json", "w") as f: 
    json.dump(alphabet_letters,f)

In [27]:
with open("alphabet_list.json", "r") as f:
    view = json.load(f)
    print(view)

# for text file print view ke le variable and f.read
# for json file print view ke lea variable and json.load

['a', 'b', 'c']

In [ ]:
dicnew = {"Name" : "Usman", "Education" : "Batchlor", "National" : "Pakistan"}
with open ("dicnew.json","w") as f:
    json.dump(dicnew, f)

In [ ]:
with open ("dicnew.json","r") as f:
    shu= json.load (f)
    print(shu)

In [ ]:
print(shu)

In [ ]:
with open ("dicnew.json","w") as f:
    json.dump(dicnew, f)

In [ ]:
view

In [ ]:
with open("acitie.txt", "a") as f:
    f.write("\n Acha bus ab line end hogi")

In [ ]:
with open("acitie.txt") as f:
    aq = f.read()
    print(aq)

In [ ]:
import csv

In [ ]:
with open ("csv file banae.csv", "w") as f:
    aaa = csv.reader(f)
    print(aaa)

In [ ]:
with open ("csv file banae.csv", "a") as f:
    f.write("han gee kia hall hen")
    aaa = csv.reader(f)
    print(aaa)

In [ ]:
filename = input("What text file to open? ") 
with open(filename) as f: 
    print(f.read())

In [74]:
try: 
    filename = input("What text file to open? ") 
    with open(filename) as f: 
        print(f.read())
except FileNotFoundError: 
    print("Sorry, " + filename + " not found.")

What text file to open? ed
Sorry, ed not found.

In [75]:
while True:
    try:
        filename = input("What text file to open? ") 
        with open(filename) as f: 
            print(f.read())
            break
            
    except FileNotFoundError: 
        print("Sorry, " + filename + " not found.")

What text file to open? ed
Sorry, ed not found.
What text file to open? greet
Sorry, greet not found.
What text file to open? greet.txt
Hello, world!

##